.teams {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;

  @media screen and (max-width: 500px) {
    flex-direction: column;
  }

  .team {
    height: calc(100% - 60px);
    flex: 1 1 auto;
    padding: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:first-child {
      margin-right: 10px;
    }

    &.-winner {
      background-color: rgba(0, 0, 0, 0.7);

      .icon {
        transition: opacity 0.5s linear;
        opacity: 1;
      }
    }

    @media screen and (max-width: 500px) {
      min-height: 50px;
      height: initial;
      flex: 1 0 auto;
      width: calc(100% - 60px);

      &:first-child {
        margin-right: initial;
        margin-bottom: 10px;
      }
    }

    > header {
      border-bottom: 1px solid $blue;
      margin-bottom: 10px;
    }

    .icon {
      top: -45px;
      align-self: center;
      margin-bottom: -40px;
      opacity: 0;
    }

    .stats {
      list-style: none;
      font-size: 13px;
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      flex: 1 1 auto;

      .stat {
        padding: 10px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-transform: uppercase;

        &.-winner {
          color: $green;
        }

        .value {
          font-size: 21px;
        }
      }
    }
  }
}
