@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import './styles/variables';
@import './styles/button';
@import './styles/icons';
@import './styles/team';
@import './styles/loader';
@import './styles/dropdown';
@import './styles/modal';
@import './styles/controls';

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url("../public/march-madness.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 7px 5px;
}

.content {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  padding: 25px;
}
