html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  color: #9ce;
  background: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  border-radius: 5px;
  width: 30%;
}
